body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
    background-color: black;
}

.container {
    position: relative;
    width: 400px; /* Šířka obrázků */
    height: 400px; /* Výška obrázků */
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Skryje zadní stranu obrázku */
}

.image1 {
    animation: rotate1 4s linear infinite;
}

.image2 {
    animation: rotate2 4s linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateX(360deg);
    }
    to {
        transform: rotateX(0deg);
    }
}*/

