:root {
  --sun: #fefefe;
  --moon: black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: black;
}

.sun {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 250px auto;
  width: 250px;
  height: 250px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 200px -30px var(--sun);
  cursor: pointer;
  transition: transform 3s ease;
}

.sun:hover {
  transform: scale(1.1);
}
.moon {
  width: 245px;
  height: 245px;
  background: var(--moon);
  border-radius: 50%;
  box-shadow: inset 0px 1px 20px var(--sun);
}
